// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    overflow: hidden; /* Hide scrollbars */
}

.overflow-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.icon-attach{
    content: url(/css/icons/attach.svg);
    transform: rotate(45deg);
}

.icon-download{
    content: url(/css/icons/download.svg);
    width: 15px;
}

input{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    transition: 0.2s;
    outline: none;
    background: rgba(248, 250, 252, 0);
}

input[type=text]:focus {
    border: none;
    border-bottom: 1px solid #555;
}

.content{
    padding: 0 15px;
    margin: 4em 0;
    height: 100vh;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content::-webkit-scrollbar {
    display: none;
}

.router-link-exact-active{
    border-left: 3px solid $accent;
}

.activity-title{
    background: $accent;
    position: -webkit-sticky;
    position: sticky;
    top: 81px;
    padding: .3em;
    margin: 1.2em 0 0 0;
    z-index: 100;
}
